#include <studio.h>
main() {
Char name[20];
Char color[20];
Printf("enter your name: ");
Scanf("%s", &name) 
Printf("what's your favorite color?");
Scanf("%s" , &color);

Printf("your name is %s\n", name);
Printf("and your favorite color is %s", color);
return 0;
}
